@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    body, ::placeholder {
        font-family: 'Josefin Sans', sans-serif;
    }
    
    body {
        @apply bg-gray-50;
    }
    
    .pin-img {
        @apply object-contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
    
    .unset-pin-img {
        width: 100%;
    }
    
    .unset-pin-img > div {
        position: unset !important;
    }

    .perspective {
        transform-style: preserve-3d;
        transform: rotateX(20deg) rotateY(25deg);
    }
    
    .container {
        @apply z-10 flex justify-center w-full gap-2 left-[4vw] perspective;
    }
    
    .container .text {
        @apply relative w-[50px] h-[50px];
        transform-style: preserve-3d;
    }
    
    .container .text:not(:nth-child(3), :last-child) {
        animation: animate 15s ease-in-out infinite;
        animation-delay: calc(0.25s * var(--j));
    }
    
    .container :is(.text:nth-child(3), .text:last-child) {
        animation: animateLast 15s ease-in-out infinite;
        animation-delay: calc(0.25s * var(--j));
    }
    
    @keyframes animateLast {
        0% {
            transform: rotateX(0deg);
        }
    
        15%,
        50% {
            transform: rotateX(460deg);
        }
    
        70%,
        100% {
            transform: rotateX(0deg);
        }
    }
    
    @keyframes animate {
        0% {
            transform: rotateX(0deg);
        }
    
        15%,
        50% {
            transform: rotateX(-260deg);
        }
    
        75%,
        100% {
            transform: rotateX(0deg);
        }
    }
    
    .container .text::before {
        content: '';
        @apply absolute w-full h-full bg-violet-800 origin-left;
        transform: rotateY(90deg) translateX(-25px);
    }
    
    .container .text:last-child::before {
        @apply bg-green-500;
    }
    
    .container .text span {
        @apply absolute top-0 left-0 w-full h-full flex items-center justify-center text-xl font-bold text-white bg-gradient-to-b from-violet-600 to-violet-800;
        transform: rotateX(calc(90deg * var(--i))) translateZ(25px);
    }
    
    .container .text:last-child span {
        @apply text-gray-900 bg-gradient-to-b from-green-500 to-green-700;;
    }
}