@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

body, ::placeholder {
    font-family: 'Josefin Sans', sans-serif;
}

.pin-img {
    @apply object-contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.unset-pin-img {
    width: 100%;
  }

.unset-pin-img > div {
position: unset !important;
}